body {
    padding: 0;
    margin: 0;
}

html, body, #mapview {
    height: 100%;
    width: 100%;
    z-index: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.busIcon {
    padding: 0.45em;
    background: #eaab00;
    border: 1.5px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    display: flex;
    
    font-weight: bold;
}

#error {
    visibility: hidden;
    padding: 1em;
    position: fixed;
    bottom: 0.5em;
    left: 0.5em;
    background: rgb(255, 200, 200);
    z-index: 100;
    font-size: 1.5em;
    border-radius: 0.5em;
}